@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSands-Regular";
    box-sizing: border-box;
}

body{
    background: var(--color-2);
    background-image: url(../storage/img/background.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: -2;
}

/* Header */
.header {
    padding: var(--space-layout-padding-header);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__left h1 {
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "SP Bold";
    color: var(--color-1);
    display: flex;
    padding-left: 20px;
}
.header__left img{
    width: 30px;
    height: 30px;
}
.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__right img {
    /* background: red; */
    width: 20px;
    height: 20px;
}

/* Main */
.main {
}
.main__up {
    padding: var(--space-layout-padding-main-up);
}
.article__information {
    color: var(--color-1);
}
.article__information p{
    font-size: 35px;
    font-family: "SP Heavy";
    margin-bottom: 5px;
}
.article__information h4{
    font-size: 31px;
    font-weight: 500;
    font-family: "SP Light";
    margin-bottom: 28px;
}
.article__money {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.article__money h2{
    font-size: 14px;
    font-family: "SP Medium";
    font-weight: 100;
    color: var(--color-1);
    margin-bottom: 7px;
}
.article__money p{
    font-size: 24px;
    font-family: "Roboto Bold";
    font-weight: 100;
    color: var(--color-1);
}
.assets h2,
.assets p{
    margin-left: 9px;
}
.article__money small{
    font-size: 14px;
    font-family: "Roboto Bold";
    font-weight: 100;
    color: var(--color-1);
}
.savings img,
.assets img{
    width: 142px;
    height: 24px;
}

/* 2 Sección */
.main__down {
    width: 375px;
    background: var(--color-1);
    border-radius: 40px 40px 0 0;
    padding: var(--space-layout-padding-main-down);
}
.main__down h2{
    font-size: 22px;
    font-family: "SP Bold";
    font-weight: 100;
    color: var(--color-2);
    margin-bottom: 10px;

}
.options {
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-x: scroll;
}
.account,
.privacy,
.help {
    min-width: 110px;
    min-height: 140px;
    background: var(--color-1);
    box-shadow: 0 50px rgba(51, 64, 79, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.account p,
.privacy p,
.help p{
    font-size: 15px;
    font-family: "SP SemiBold";
    font-weight: 100;
    color: var(--color-2);
}
.flows {
    overflow-y: scroll;
    
}
.move {
    display: flex;
    flex-direction: column;
}
.left {
    display: flex;
    flex-direction: row;
    padding: var(--space-layout-padding-main-down-left);
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.info h3,
.right h3{
    width: 127px;
    font-size: 15px;
    font-family: "SP Bold";
    font-weight: 100;
}
.info small,
.right small{
    font-size: 11px;
    font-family: "SP Medium";
    font-weight: 100;
    opacity: 40%;
}
.right {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-left: 10px;
}

/* Footer */
.imgs {
    width: 366px;
    height: 89px;
    background: var(--color-2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
    padding: var(--space-layout-padding-footer);
}
.imgs img{
    background: red;
    width: 35px;
    height: 55px;
}
#log{
    margin-top: 10px;
}

