<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <title>Balance</title>
</head>
<body>
    <header class="header">
        <img id="circle" src="../storage/img/circle.svg">
        <div class="header__left">
            <img src="../storage/img/invento.svg">
            <h1>INVETO</h1>
        </div>
        <div class="header__right">
            <img src="../storage/img/menu.svg">
        </div>
    </header>
    <main class="main">
        <section class="main_up">
            <article class="article_circle">
                <h2>Total Balance<small>$</small>214,417</h2>
            </article>
            <article class="article_options">
                <div class="options__Assets">
                    <h2>Assets</h2>
                </div>
                <div class="options__Debt">
                    <h2>Debt</h2>
                </div>
                <div class="options__Income">
                    <h2>Income</h2>
                </div>
            </article>
        </section>
        <section class="main_down">
            <article class="article__graphic">
                <img src="../storage/img/graphic.svg">
                <div class="graphic__days">
                    <p>S</p>
                    <p>M</p>
                    <p>T</p>
                    <p>W</p>
                    <p>T</p>
                    <p>F</p>
                    <p>S</p>
                </div>
            </article>
            <article class="article__spending">
                <div class="spending__card">
                    <img src="../storage/img/creditcard.svg">
                </div>
                <div class="spending__info">
                    <h2>Spending.</h2>
                    <small>You forgot to add debt card number at payment #1323. Add it now.</small>
                </div>
                <div class="spending__cancel">
                    <img src="../storage/img/cancel.svg">
                </div>
            </article>
        </section>
    </main>
</body>
</html>