<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../storage/img/logo.svg" />
    <link rel="stylesheet" href="../css/balance.css">
    <title>Balance</title>
</head>
<body>
    <header class="header">
        <div class="header__circle">
            <img src="../storage/img/fondogreen.svg">
        </div>
        <div class="header__left">
            <img src="../storage/img/logo.svg">
            <h1>CASHIFY</h1>
        </div>
        <div class="header__right">
            <img src="../storage/img/menu.svg">
        </div>
    </header>
    <main class="main">
        <section class="main_up">
            <article class="article_circle">
                <div class="circle__info">
                    <h2>Balance</h2>
                    <h2>Inquiry</h2>
                    <h2><small>$</small>648,442</h2>
                </div>
            </article>
            <article class="article_options">
                <div class="options__Assets">
                    <h2>Assets</h2>
                </div>
                <div class="options__Debt">
                    <h2>Debt</h2>
                </div>
                <div class="options__Income">
                    <h2>Income</h2>
                </div>
            </article>
        </section>
        <section class="main_down">
            <article class="article__graphic">
                <img src="../storage/img/graphic.svg">
                <div class="graphic__days">
                    <p>S</p>
                    <p>M</p>
                    <p>T</p>
                    <p>W</p>
                    <p>T</p>
                    <p>F</p>
                    <p>S</p>
                </div>
            </article>
            <article class="article__spending">
                <div class="spending__card">
                    <img src="../storage/img/limit.svg">
                </div>
                <div class="spending__info">
                    <h2>Hey Juann !!!</h2>
                    <small>Time to cook at home! You've reached your dining out budget.</small>
                </div>
                <div class="spending__cancel">
                    <img src="../storage/img/cancel.svg">
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer__imgs">
            <img src="../storage/img/home.svg">
            <div class="imgs__selected">
                <img src="../storage/img/contentselected.svg">
                <img id="puntico" src="../storage/img/puntico.svg">
            </div>
            <a href="../views/cards.html"><img src="../storage/img/items.svg"></a>
            <img src="../storage/img/notifications.svg">
            <a href="../index.html"><img src="../storage/img/user.svg"></a>
        </div>
    </footer>
</body>
</html>