<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cards.css">
    <title>Cards</title>
</head>
<body>
    <header class="header">
        <div class="header__left">
            <img src="../storage/img/logo.svg">
            <h1>CASHIFY</h1>
        </div>
        <div class="header__right">
            <img src="../storage/img/menucards.svg">
        </div>
    </header>
    <main>
        <section class="main_up">
            <h2>Investing Tips</h2>
            <article class="article__tips">
                <div class="tips__scopes">
                    <div class="rocket">
                        <img src="../storage/img/rocket.svg">
                    </div>
                    <div class="Info">
                        <h3>Need a Start-up?</h3>
                        <p>By Kelsey Sheehy, NW</p>
                        <a href="">EXPLORE MORE</a>
                    </div>
                </div>
                <div class="tips__scopes">
                    <div class="rocket">
                        <img src="../storage/img/investment.svg">
                    </div>
                    <div class="Info">
                        <h3>Smart Investing Strategies</h3>
                        <p>By Jane Doe, AV</p>
                        <a href="">LEARN MORE</a>
                    </div>
                </div>
                <div class="tips__scopes">
                    <div class="rocket">
                        <img src="../storage/img/yield.svg">
                    </div>
                    <div class="Info">
                        <h3>High-Yield Opportunities</h3>
                        <p>By Mark Johnson, HY</p>
                        <a href="">FIND MORE</a>
                    </div>
                </div>
            </article>
        </section>
        <section class="main_down">
            <h2>My Cards (4)</h2>
            <article class="article__cards">
                <input type="radio" name="cardSelection" id="colpatria1" class="card-radio" />
                <label for="colpatria1" class="cards__content1">    
                    <div class="content__info">
                        <img src="../storage/img/chip.svg">
                        <p>**** 0727</p>
                    </div>
                    <h2><small>$ </small>354,358</h2>
                    <img src="../storage/img/colpatria.svg">
                </label>
                <input type="radio" name="cardSelection" id="colpatria2" class="card-radio" />
                <label for="colpatria2" class="cards__content1"> 
                    <div class="content__info">
                        <img src="../storage/img/chip.svg" alt="Chip">
                        <p>**** 1512</p>
                    </div>
                    <h2><small>$ </small>684,628</h2>
                    <img id="visa" src="../storage/img/visa.svg" alt="Visa">
                </label>
                <input type="radio" name="cardSelection" id="visa1" class="card-radio" />
                <label for="visa1" class="cards__content1"> 
                    <div class="content__info">
                        <img src="../storage/img/chip.svg" alt="Chip">
                        <p>**** 2604</p>
                    </div>
                    <h2><small>$ </small>169,151</h2>
                    <img src="../storage/img/colpatria.svg" alt="Colpatria">
                </label>
                <input type="radio" name="cardSelection" id="visa2" class="card-radio" />
                <label for="visa2" class="cards__content1">
                    <div class="content__info">
                        <img src="../storage/img/chip.svg" alt="Chip">
                        <p>**** 2023</p>
                    </div>
                    <h2><small>$ </small>482,468</h2>
                    <img id="visa" src="../storage/img/visa.svg" alt="Visa">
                </label>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer__imgs">
            <img src="../storage/img/home.svg">
            <a href="./balance.html"><img src="../storage/img/content.svg"></a>
            <div class="imgs__selected">
                <img src="../storage/img/itemselected.svg">
                <img id="puntico" src="../storage/img/puntico.svg">
            </div>
            <img src="../storage/img/notifications.svg">
            <a href="/index.html"><img src="../storage/img/user.svg"></a>
        </div>
    </footer>
</body>
</html>