<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cards.css">
    <title>Cards</title>
</head>
<body>
    <header class="header">
        <div class="header__left">
            <img src="../storage/img/invetocard.svg">
            <h1>INVETO</h1>
        </div>
        <div class="header__right">
            <img src="../storage/img/menucards.svg">
        </div>
    </header>
    <main>
        <section class="main_up">
            <h2>Investing Tips</h2>
            <div class="scopes">
                <div class="piggy">
                    <img src="../storage/img/scope.svg">
                </div>
                <div class="Info">
                    <h3>What is an ETF?</h3>
                    <p>By James B, PHD</p>
                    <a href="">LEARN MORE</a>
                </div>
                <div class="cancel">
                    <img src="../storage/img/cancel.svg">
                </div>
            </div>
        </section>
        <section class="main_down">
            <h2>My Cards (4)</h2>
            <article class="cards">
                <div class="cards__content1">
                    <div class="content__info">
                        <img src="../storage/img/chip.svg">
                        <p>**** 6175</p>
                    </div>
                    <h2><small>$ </small>47,417</h2>
                    <img src="../storage/img/colpatria.svg">
                </div>
                <div class="cards__content2">
                    <div class="content__info">
                        <img src="../storage/img/chip.svg">
                        <p>**** 2269</p>
                    </div>
                    <h2><small>$ </small>584,46</h2>
                    <img src="../storage/img/visa.svg">
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="imgs">
            <img src="../storage/img/home.svg">
            <a href="./balance.html"><img src="../storage/img/content.svg"></a>
            <div class="selected">
                <img src="../storage/img/itemselected.svg">
                <img id="puntico" src="../storage/img/puntico.svg">
            </div>
            <img src="../storage/img/notifications.svg">
            <a href="/index.html">"<img src="../storage/img/user.svg"></a>
        </div>
    </footer>
</body>
</html>